/Bin
/All.suo
/All.sln
/Alexander/ui_Mini.h
/KnackDenCode/ui_CodeKnacker.h
/Pascal/ui_TicTacToe.h
*.pdb
debug
release
*.vcxproj
/ipch
*.user
*.filters
*.opensdf
*.sdf
/Spielplan/ui_Manager.h
/Spielplan/ui_MannschaftEditor.h
/Spielplan/ui_MannschaftListeEditor.h
